<p>Choose item to place</p>
<mat-radio-group
    name="radioOpt1"
    class="radio-group container"
    [ngModelOptions]="{standalone: true}"
    [(ngModel)]="choosedOption">
    <mat-radio-button class="radio-button" *ngFor="let option of options" [value]="option" name="option">
        {{option}}
    </mat-radio-button>
    <div class="row">
        <div *ngIf="!choosedOption.includes('None')">
            <mat-form-field class="example-form-field">
                <mat-label>X:</mat-label>
                <input matInput type="text" [(ngModel)]="x">
                <button *ngIf="x" matSuffix mat-icon-button aria-label="Clear" (click)="x=0">
                X
                </button>
            </mat-form-field>
            <mat-form-field class="example-form-field">
                <mat-label>Y:</mat-label>
                <input matInput type="text" [(ngModel)]="y">
                <button *ngIf="y" matSuffix mat-icon-button aria-label="Clear" (click)="y=0">
                X
                </button>
            </mat-form-field>

            <mat-form-field class="example-form-field" *ngIf="choosedOption.includes('Circle')">
                <mat-label>Radious</mat-label>
                <input matInput type="text" [(ngModel)]="r">
                <button *ngIf="r" matSuffix mat-icon-button aria-label="Clear" (click)="r=0">
                X
                </button>
            </mat-form-field>
        </div>
        <div class="width-100" *ngIf="choosedOption.includes('Rectangle') || choosedOption.includes('Rounded')">
            <mat-form-field class="example-form-field">
                <mat-label>Height:</mat-label>
                <input matInput type="text" [(ngModel)]="height">
                <button *ngIf="height" matSuffix mat-icon-button aria-label="Clear" (click)="height=0">
                X
                </button>
            </mat-form-field>
            <mat-form-field class="example-form-field">
                <mat-label>Width:</mat-label>
                <input matInput type="text" [(ngModel)]="width">
                <button *ngIf="width" matSuffix mat-icon-button aria-label="Clear" (click)="width=0">
                X
                </button>
            </mat-form-field>
        </div>
        <button (click)="addElement()" class="primary mt-2" >Add: {{choosedOption}}</button>
    </div>
</mat-radio-group>